/* src/components/Header.css */
.header {
  background: linear-gradient(90deg, var(--primary-color), var(--secondary-color));
  padding: 20px;
  text-align: center;
}

.header h1 {
  margin: 0;
  font-size: 2rem;
  color: var(--background-color);
}

.header nav ul {
  list-style: none;
  padding: 0;
  margin: 20px 0 0;
  display: flex;
  justify-content: space-evenly;
}

.header nav ul li {
  margin: 0 15px;
}

.header nav ul li a {
  font-size: 1.2rem;
}

  